<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>
    {% for i in mainmenu %}
        <a href="{% url i.url %}">{{ i.title }}</a>{% if not forloop.last %} | {% endif %}
    {% endfor %}
</p>
<p>Hello customer!!!</p>
<ul>
    {% for i in DB_data %}
    {% if i.is_published %}
        <h2>{{ i.good }}</h2>
        <h4><p>Description:</p>{{ i.describe }}</h4>
        <h3>Price: {{ i.price }}</h3>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {%endif%}
    {% endfor %}
</ul>
</body>
</html>